@import "palette.css";
@import "fonts.css";
@import "font-sizes.css";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--header-text-color);
    font-family: var(--roboto-font);
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

header,section{
    width: 100%;
}

header{
    background: var(--bg-header);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px 8px 15px 6px rgba(168,163,168,1);
}

header .header__logo{
    display: block;
    width: 10rem;
    height: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/svg/header.svg");
}
header h2{
    font-size: var(--large-size)
}

section{
    padding: 2rem 0;
    color: var(--section-text-color);
}

section h4{
    font-size: var(--medium-size);
}

section h5, section h6{
    font-size: var(--small-size);
}
section h6{
    margin: 0;
    padding: 0;
}
section .header, section .chat__form h5, section .connect, section .disconnect{
    text-align: center;
}

section .message__section{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

section .all__messages{
    height: 18rem;
    overflow-y: auto;
}

section .all__messages::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: var(--bg-section);
}

section .all__messages::-webkit-scrollbar
{
    width: 12px;
    background-color: var(--bg-section);
}

section .all__messages::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--section-text-color);
}

section .write__message__form, section .chat__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .write__message__form{
    text-align: left;
    width: 30%;
}

section .chat__form{
    width: 40%;

}

section .chat__form div{
    padding: 0.625rem;
    margin: 1.25rem 0;
}

section .light, section .yellow,section .green, section .dark,section button,section textarea{
    border-radius: 5px;
}

section textarea{
    border: 2px solid var(--section-text-color);
    resize: none;
    outline: none;
    font-family: var(--roboto-font);
    font-size: var(--standard-size);
    color: var(--section-text-color);
    padding: 0.625rem;
    margin: 0.625rem 0;
}

section button{
    margin-left: auto;
    width: 40%;
    padding: 0.3125rem;
    background: var(--bg-header);
    color: var(--header-text-color);
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .15s ease-in;
}

section .light{
    background: var(--bg-section);
}

section .dark{
    background: var(--section-text-color);
    color: var(--header-text-color);
}

section .yellow{
    background: var(--additional-color);
}

section .green{
    background: var(--bg-header);
    color: var(--header-text-color);
}

section button:hover{
    box-shadow: 2px 6px 15px 0px rgba(168,163,168,1);
}

section .connect{
    color: var(--bg-header);
}

section .disconnect{
    color: var(--disconnect-color);
}